.parent-btn-back-first {
  display: flex;
  justify-content: end;
}

.btn-back-first {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid var(--color-black);
  cursor: pointer;
}

.btn-back-first img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .btn-back-first {
    bottom: 40px;
    right: 20px;
    width: 50px;
    height: 50px;
  }

  .btn-back-first img {
    width: 20px;
    height: 20px;
  }
}
