.cc-cleaning-container {
  max-width: 1920px;
  background-color: var(--color-white-50);
  margin: 150.66px auto 0;
  padding: 127.3px 299.86px 151.44px;
}

.cc-cleaning-container h2 {
  color: var(--color-blue-200);
  text-align: center;
}

.title-cc {
  margin-top: 27px;
  text-align: center;
}

.cc-card {
  margin-top: 63.21px;
  display: flex;
  gap: 29.18px;
}

.flip-card {
  width: 100%;
  position: relative;
  inset: 0;
  z-index: 1;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.service-front-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(203, 202, 202);
  overflow: hidden;
  background-color: var(--color-white);
  transition: all 1s ease;
  backface-visibility: hidden;
}

.service-front-card.front-card-active {
  transform: rotateY(180deg);
}

.back-full-content {
  transform: rotateY(180deg);
}

.service-back-card {
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 20px;
  background-color: var(--color-white);
  transition: all 1s ease;
  overflow: hidden;
  padding: 40px 20px;
}

.service-back-card.back-card-active {
  transform: rotateY(180deg);
}

.service-front-card img {
  width: 100%;
  height: 223.32px;
  flex-shrink: 0;
}

.details-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24.68px;
  padding: 24.68px 22.7px 26px 24.8px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.job-card {
  margin-bottom: 24.68px;
  flex: 1;
}

.title-card {
  min-height: 120px;
}

.button-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--color-orange-200);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button-card img {
  width: 16.37px;
  height: 20px;
}

.button-card:hover {
  background-color: rgb(248, 172, 33);
}

@media screen and (max-width: 1900px) {
  .cc-cleaning-container {
    margin: 80px auto 0;
    padding: 30px 200px 40px;
  }
}

@media screen and (max-width: 1700px) {
  .cc-cleaning-container {
    padding-inline: 90px;
  }
}

@media screen and (max-width: 1500px) {
  .cc-cleaning-container {
    padding-inline: 70px;
  }
}

@media screen and (max-width: 1440px) {
  .cc-cleaning-container {
    margin: 80px auto 0;
    /* padding-inline: auto; */
  }

  .cc-cleaning-container h2 {
    margin-top: 30px;
  }

  .cc-card {
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    grid-gap: 40px;
    display: grid;
    grid-template-columns: 30% 30%;
  }
}

@media screen and (max-width: 1025px) {
  .cc-cleaning-container {
    margin: 80px auto 0;
    padding: 30px 20px 40px 20px;
  }

  .cc-cleaning-container h2 {
    margin-top: 30px;
  }

  .cc-card {
    grid-gap: 20px;
    grid-template-columns: 40% 40%;
  }
}

@media screen and (max-width: 768px) {
  .cc-card {
    grid-gap: 40px;
    grid-template-columns: 55%;
  }
}

@media screen and (max-width: 576px) {
  .cc-cleaning-container {
    margin: 80px auto 0;
    padding: 30px 20px 40px 20px;
  }

  .cc-cleaning-container h2 {
    font-size: 30px;
  }

  .title-cc {
    margin-top: 10px;
    font-size: 16px;
  }

  .cc-card {
    grid-template-columns: 70%;
  }

  .button-card {
    width: 45px;
    height: 45px;
  }

  .button-card img {
    width: 14.37px;
    height: 16px;
  }

  .job-card {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .title-card {
    font-size: 16px;
  }
}

@media screen and (max-width: 390px) {
  .cc-card {
    grid-template-columns: 95%;
  }
}
