.contact {
  margin-top: 150.34px;
  display: flex;
}

.details-contact {
  display: flex;
  flex-direction: column;
  position: relative;
  inset: 0;
  z-index: 1;
  background-image: url(../asset/images/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  padding: 199.65px 179.65px 199.65px 327px;
}

.details-contact::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}

.details-contact h3 {
  color: var(--color-white);
  margin-bottom: 19.5px;
}

.title-contact {
  color: var(--color-white);
}

.img-contact {
  margin-top: 48.5px;
  display: flex;
  gap: 17.37px;
}

.icon {
  width: 50.91px;
  height: 50.91px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15.46px;
  border-radius: 100%;
  background-color: var(--color-orange-200);
}

.infor-title,
.infor-detail {
  color: var(--color-white);
}

/* .get-appointment {
  width: 50%;
  height: 817.7px;
  padding: 168.5px 168.5px;
  background-color: #f5f8fd;
}

.box-contact {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.full-name input {
  border-radius: 50px;
} */
