.get-quote h2 {
  color: var(--color-blue-200);
  margin-top: 150.66px;
  text-align: center;
}

.circle-quote {
  justify-content: center;
  display: flex;
  margin-top: 66.83px;
  gap: 173.88px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 202.57px;
  height: 202.57px;
  background-color: var(--color-orange-200);
  border-radius: 100%;
  border: 12.86px solid var(--color-white);
}

.num-circle {
  width: 217.43px;
  height: 217.43px;
  border-radius: 100%;
  position: relative;
  inset: 0;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  overflow: hidden;
}

.num-circle::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--color-white-50);
  border-radius: 100%;
}

.num-circle::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-orange-200);
  border-radius: 100%;
  transition: all 0.4s ease;
  overflow: hidden;
}

.num-circle:hover::after {
  width: 100%;
}

.title-circle {
  width: 221px;
  text-align: center;
  margin-top: 40.78px;
  font-size: 25px;
  font-weight: 500;
}

.get-impressive {
  display: flex;
  gap: 71.13px;
  margin-top: 150.66px;
}

.get-impressive img {
  width: 623px;
  height: 588px;
  border-radius: 20px;
  object-fit: cover;
}

.box-text-impressive {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-impressive {
  color: var(--color-blue-200);
  margin-bottom: 34px;
}

.call-us {
  margin-top: 42.5px;
  display: flex;
  align-items: center;
  gap: 26.95px;
}

.phone-number {
  padding: 18px 36.52px;
  color: var(--color-white);
  background-color: var(--color-orange-200);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.phone-number:hover {
  box-shadow: 1px 1px 10px var(--color-orange-100);
}

@media screen and (max-width: 1025px) {
  .circle-quote {
    gap: 50px;
  }

  .number {
    width: 202.57px;
    height: 202.57px;
  }

  .num-circle {
    width: 217.43px;
    height: 217.43px;
  }

  .get-impressive {
    gap: 50px;
    display: flex;
    flex-direction: column-reverse;
  }

  .get-impressive img {
    width: 100%;
    height: 488px;
  }
}

@media screen and (max-width: 768px) {
  .circle-quote {
    margin-top: 40px;
    gap: 50px;
  }

  .number {
    width: 100px;
    height: 100px;
    border: 2px solid var(--color-white);
    font-size: 32px;
  }

  .num-circle {
    width: 108px;
    height: 108px;
  }

  .title-circle {
    width: 100px;
    margin-top: 25px;
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .get-quote h2 {
    margin-top: 60px;
    font-size: 30px;
  }

  .circle-quote {
    margin-top: 40px;
    gap: 6px;
  }

  .number {
    width: 78px;
    height: 78px;
    border: 2px solid var(--color-white);
    font-size: 30px;
  }

  .num-circle {
    width: 82px;
    height: 82px;
  }

  .get-impressive {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50.66px;
  }

  .get-impressive img {
    width: 100%;
    height: 250px;
  }

  .title-impressive {
    font-size: 30px;
    line-height: normal;
    margin-bottom: 28px;
  }

  .desc-impressive {
    font-size: 20px;
  }

  .call-us {
    margin-top: 30px;
    gap: 26.95px;
  }

  .call-us p {
    font-size: 18px;
  }

  .phone-number {
    padding: 15px 10px;
    font-size: 18px;
  }
}
